@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Questrial&display=swap');

* {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    font-family: 'Julius Sans One', sans-serif;
    /* delete bullet point */
    list-style: none;
}

/* delete native link style  */
a {
    text-decoration: none;
    color: inherit;
}

.about {
    grid-area: about;
    background-color: #FFC107;
}

.about > p {
    text-align: center;
    padding: 3em;
    text-align: justify;
}

.contact {
    grid-area: contact;
    background-color: #FFC107;
}

.contact h2, .about h2, .hobbies h2 {
    padding: .3em;
    background-color: #212121;
    color: #FFC107;
    text-transform: uppercase;
    text-align: center;
}

.contact li {
    padding-bottom: .5em;
}

.education {
    grid-area: education;
}

.five {
    grid-area: five;
}

.four {
    grid-area: four;
}

h1 > span {
    color: #FFC107;
}

.hobbies {
    grid-area: hobbies;
    background-color: #FFC107;
}

.hobbies-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.job {
    grid-area: job;
}

.line {
    background-color: #FFC107;
    height: 1pt;
    width: 5em;
}

.one {
    grid-area: one;
}

p {
    font-family: sans-serif;
}

#page > .title {
    grid-area: title;
    height: calc(100vw/2.8);
    align-items: center;
    /* allows the text to be placed vertically */
    display: table;
    padding-left: 3em;
}

.picture {
    grid-area: picture;
    background-color: #FFC107;
    /* places the image vertically in the middle */
    /* display: table-cell;
    vertical-align: middle; */
    display: flex;
}

.picture img {
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: auto;
}

.ref {
    grid-area: ref;
}

.seven {
    grid-area: seven;
}

.six {
    grid-area: six;
}

.title span {
    /* vertical align text in div display: table */
    vertical-align: middle;
    display: table-cell;
}

.title p {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.6em;
}

.three {
    grid-area: three;
}

.two {
    grid-area: two;
}

#trait_dessus
{
border-top: 1px solid #000;
width : 700px;
}

@media screen and (min-width: 200px) {
    h1 {
        font-size: 1em;
    }
    #page {
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-areas:    
        "picture title"
        "contact contact"  
        "education education"
        "job job"
        "about about";
        grid-template-rows: auto;
        grid-template-columns: auto;
        transition: .3s ease-in-out all;
    }
}

@media screen and (max-width: 800px) {
    .A {
        grid-area: A;
    }
    .B {
        grid-area: B;
    }
    .C {
        grid-area: D;
    }
    .contact-small {
        display: grid;
        grid-template-areas:
        "A B"
        "C D";
        padding: 1em;
    }
    .hobbies, .ref {
        display: none;
    }
    #page > .title {
        padding-left: 0;
    }
    .picture {
        background-color: white;
    }
    .picture img {
        border: #FFC107 2pt solid;
        height: 30vw;
        width: 30vw;
    }
    .timeline {
        padding: 1em;
    }
}
  
@media screen and (min-width: 800px) {
    #page {
        display: grid;
        width: 100vw;
        height: 100vh;
        /* max-width: 100vh; */
        grid-template-areas:    
        "picture title title"
        "contact education education"
        "about job job"
        "hobbies ref ref";
        grid-template-rows: auto;
        grid-template-columns: repeat(3, calc(100vw/3));
        /* transition: .3s ease-in-out all; */
    }
    .picture img {
        height: 20vw;
        width: 20vw;
    }
    h1 {
        font-size: 3em;
    }
    .ref-wrapper {
        display: flex;
        flex-flow: row nowrap;
    }
    .timeline {
        display: grid;
        grid-template-areas:
        "one one"
        "two three"
        "four five"
        "six seven";
    }

    .timeline p {
        padding: 3em;
    }
    ul {
        padding: 3em;
    }
}